body {
    font-family: $common-font;
    font-size: 16px;
    color: $text-color;
    width: 100%;
    height: 100%;
    line-height: 1.5; 
}
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
.container {
    padding: 0 100px;
    margin: 0 auto;
}
.btn {
    border-radius: $border-radius;
    padding: 20px;
    outline: none;
    border-style: none;
    text-transform: uppercase;
    line-height: 0.15;
    box-sizing: border-box;
    &__green {
        background: $green-color;
        color: #fff;
        &:hover {
            background: transparent;
            border: 1px solid $green-color;
            color: $green-color;
        }
    }
    &__tr {
        background: transparent;
    }
    &__green-tr {
        border: 1px solid $green-color;
        color: $green-color;
        &:hover {
            background: $green-color;
            color: #fff;  
        }
    }
    &__gray-tr {
        border: 1px solid $gray-color;
        color: $gray-color;
    
    }
    &__hd {
        text-transform: uppercase;
        &:first-child {
            margin-right: 40px;
        }
    }
}
.col-b {
    width: 50%;
}
.section-title{
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: $green-color;
    &__gray {
        color: $gray-color;
    }
}
img {
    width: 100%;
    height: auto;
}
section {
    padding: 40px 0;
}