//========variables========
$border-radius: 5px;

//========fonts=======
$common-font: 'Fregat_regular', sans-serif;
$title-font: 'Fregat_bold', sans-serif;
//========color=======
$text-color: #666666;
$green-color: #63b945;