.about {
    text-align: center;
    padding-top: 80px;
    &_container {
        max-width: 970px;
        margin: 0 auto;
    }
    &_text {
        font-size: 19px;
    }
    &_slider {
        margin: 0 auto;
        position: relative;
        &__next, &__prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &__prev {
            left: -100px;
        }
        &__next {
            right: -100px;
        }
     
    }
    &_list {
        display: flex;
    }   
    &_items {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    &_item {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        &:before {
            content: "\2713";
            display: inline-block;
            color: $green-color;
            font-weight: 700;
        }
    }
}