.contacts {
    background: lighten($green-color, 30%);
    text-align: center;
    &_description {
        color: lighten($text-color, 20%);
    }
    &_block {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }
    &_city {
        font-size: 20px;
        margin: 0;
    }
    &_button {
        margin: 0;
        margin-top: 45px;
    }
}