.infographic {
    background: url('../img/info_bg.jpg') no-repeat center;
    background-size: cover;
    height: 0;
    padding-bottom: 70%;
    text-align: center;
    position: relative;
    color: #fff;
    &:after {
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        top: 0;
        left: 0;
        opacity: 0.6;
        position: absolute;
    }
    &_header {
        padding-top: 50px; 
    }
    &_description {
        font-size: 20px;
        text-transform: uppercase;
    }
    &_content {
        display: flex;
        justify-content: space-around;
    }
    &_item {
        
        &:before {
            content: attr(data-time);
            position: relative;
            display: block;
            @include fontSize(50);
            color: $green-color;
            font-family: $title-font;
            top: 35%;
           

        }
        &:after {
            content: attr(data-hours);
            position: relative;
            display: block;
            @include fontSize(17);
            color: $green-color;
            font-family: $title-font;
            bottom: 35%;
         
        }
    }
    &_text {
        color: $green-color;
        text-align: center;
    }
    &_subtitle {
        text-transform: uppercase;
        color: $green-color;
        @include fontSize(24);
        margin-bottom: 70px;
    }
    &_b {
        @include fontSize(48);
    }
}