.list {
    width: 100%;
    background-color: $green-color;
    color: #ffffff;
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_item {
        list-style: none;
        &:before {
            content: '\003e';
            display: inline-block;
            padding-right: 5px;
        }
    }
    &_title {
        font-size: 20px;
        text-transform: uppercase;
    }
}