<div class="container">
    <h2 class="section-title">Как работает методика David?</h2>
    <div class="about-method_content">
        <div class="about-method_item">
            <img class="about-method_img" src="img/icon-90.png" alt="icon-90">
            <div class="about-method_text">
                <h3 class="about-method_title">Заметное снижение боли</h3>
                <p>90% пациентов отмечают значительное снижение боли и дискомфорта благодаря курсу лечения движением по финско-немецкой методике на компьютеризированных тренажерах.</p>
            </div>
        </div>
        <div class="about-method_item">
            <img class="about-method_img" src="img/icon-self.png" alt="icon-90">
            <div class="about-method_text">
                <h3 class="about-method_title">Индивидуальная программа занятий</h3>
                <p>Программа занятий составляется с помощью компьютерной диагностики мышечного корсета, учитывая все основные физиологические  особенности Пациента Поэтому даже у людей  с одинаковым диагнозом программа лечения для каждого будет индивидуальной.</p>
            </div>
        </div>
        <div class="about-method_item">
            <img class="about-method_img" src="img/icon-safe.png" alt="icon-90">
            <div class="about-method_text">
                <h3 class="about-method_title">Абсолютная безопасность</h3>
                <p>В отличии от спортивных тренажеров, медицинское оборудование David позволяет работать с максимально безопасной нагрузкой и амплитудой, учитывая при этом анатомические особенности Пациента. Занятия проходят  под обязательным наблюдением профессионального реабилитолога.</p>
            </div>
        </div>
        <div class="about-method_item">
            <img class="about-method_img" src="img/icon-aim.png" alt="icon-90">
            <div class="about-method_text">
                <h3 class="about-method_title">Максимально точное воздействие на позвоночник, суставы и мышцы</h3>
                <p>Методика  DAVID позволяет  точечно воздействовать только на проблемные зоны мышц и суставов. Специальные механизмы позволяют ограничить движение тех участков тела, которые не должны быть задействованы.</p>
            </div>
        </div>
    </div>
</div>