<div class="container contacts_container">
    <div class="contacts_header">
        <h2 class="section-title section-title__gray">Позвонить и записаться</h2>
        <p class="contacts_description">Пройти программу можно в реабилитационных центрах на базе Института вертебрологии и реабилитации</p>
    </div>
    <div class="contacts_block">
        <div class="contacts_adress">
            <div class="contacts_city">Ивано-Франковск</div>
            <span class="contacts_info">ул.Черновола<br>(0342) 74-45-40</span>
        </div>
        <div class="contacts_adress">
            <div class="contacts_city">Киев</div>
            <span class="contacts_info">м.Лукьяновка, КПИ, Осокорки, Позняки<br>(044) 574-88-86</span>
        </div>
        <div class="contacts_adress">
            <div class="contacts_city">Львов</div>
            <span class="contacts_info">ул.Кульпарковская<br>(032) 254-03-46</span>
        </div>
    </div>
    <div class="contacts_button">
        <button type="submit" class="btn btn__tr btn__gray-tr">Позвоните мне</button>
    </div>
</div>