<div class="container container_b">
    <h2 class="section-title">В каких случаях программа будет полезна?</h2>
    <div class="content-list_main">
        <div class="content-list_item">
            <div class="content-list_text">
                <h3 class="content-list_number">1</h3>
                <h4 class="content-list_subtitle">Боли в пояснице</h4>
                <p class="content-list_content">Боли в поясничном отделе позвоночника связаны с его перенагрузкой в 80% случаев.  Сидя за компьютером, даже в очень удобном офисном кресле, нагрузка на поясничный отдел практически в 2 раза больше, чем в  положении стоя.</p>
                <a href="#" class="link-more">Подробнее</a>
            </div>
            <img class="content-list_img" src="img/content_list_img_1.jpg" alt="list_img_1"></img>
        </div>
        <div class="content-list_item">
            <div class="content-list_text">
                <h3 class="content-list_number">2</h3>
                <h4 class="content-list_subtitle">Боли в грудном отделе позвоночника</h4>
                <p class="content-list_content">Боли в поясничном отделе позвоночника связаны с его перенагрузкой в 80% случаев.  Сидя за компьютером, даже в очень удобном офисном кресле, нагрузка на поясничный отдел практически в 2 раза больше, чем в  положении стоя.</p>
                <a href="#" class="link-more">Подробнее</a>
            </div>
            <img class="content-list_img" src="img/content_list_img_2.jpg" alt="list_img_2"></img>
        </div>
        <div class="content-list_item">
            <div class="content-list_text">
                <h3 class="content-list_number">3</h3>
                <h4 class="content-list_subtitle">Боли в шее и плечах</h4>
                <p class="content-list_content">Боли в поясничном отделе позвоночника связаны с его перенагрузкой в 80% случаев.  Сидя за компьютером, даже в очень удобном офисном кресле, нагрузка на поясничный отдел практически в 2 раза больше, чем в  положении стоя.</p>
                <a href="#" class="link-more">Подробнее</a>
            </div>
            <img class="content-list_img" src="img/content_list_img_3.jpg" alt="list_img_3"></img>
        </div>
        <div class="content-list_item">
            <div class="content-list_text">
                <h3 class="content-list_number">4</h3>
                <h4 class="content-list_subtitle">Головные боли</h4>
                <p class="content-list_content">Боли в поясничном отделе позвоночника связаны с его перенагрузкой в 80% случаев.  Сидя за компьютером, даже в очень удобном офисном кресле, нагрузка на поясничный отдел практически в 2 раза больше, чем в  положении стоя.</p>
                <a href="#" class="link-more">Подробнее</a>
            </div>
            <img class="content-list_img" src="img/content_list_img_4.jpg" alt="list_img_4"></img>
        </div>        
    </div>
</div>