<div class="container contacts_container">
        <div class="contacts_header">
            <h2 class="section-title">Записаться на прием</h2>
            <p class="contacts_description">Позвоните в любое из наших отделений, ответим на все вопросы или запишем на прием к доктору</p>
        </div>
        <div class="contacts_block">
            <div class="contacts_adress">
                <div class="contacts_city">Ивано-Франковск</div>
                <span class="contacts_info">ул.Черновола<br>(0342) 74-45-40</span>
            </div>
            <div class="contacts_adress">
                <div class="contacts_city">Киев</div>
                <span class="contacts_info">м.Лукьяновка, КПИ, Осокорки, Позняки<br>(044) 574-88-86</span>
            </div>
            <div class="contacts_adress">
                <div class="contacts_city">Львов</div>
                <span class="contacts_info">ул.Кульпарковская<br>(032) 254-03-46</span>
            </div>
        </div>
        <p class="contacts_description">Заполните форму и мы свяжемся с вами, ответим на все вопросы или запишем на прием к доктору</p>
        </div>
