<div class="container">
    <nav class="header_nav">
        <h1 class="header_logo">David</h1>
        <ul class="header_menu">
            <li class="header_item"><a class="header_link" href="#">Что входит в программу</a></li>
            <li class="header_item"><a class="header_link" href="#">Почему сидеть вредно</a></li>
            <li class="header_item"><a class="header_link" href="#">В каких случаях программа будет полезна</a></li>
            <li class="header_item"><a class="header_link" href="#">Как все происходит</a></li>
            <li class="header_item"><a class="header_link" href="#">Как работает методика DAVID</a></li>
        </ul>
    </nav>
</div>
<div class="header_content">
    <div class="container">
        <div class="header_info">
            <h2 class="section-title">Здоровье спины при<br> малоподвижном образе жизни</h2>
            <p class="header_text">Занятия в ультрасовременных реабилитационных центрах David при Центре укрепления позвоночника и суставов под  наблюдением высококвалифицированной команды реабилитологов</p>
            <p class="header_text">Помогает снять дискомфорт и хронические  боли в пояснице, грудном и шейном отделах позвоночника.</p>
            <div class="header_button">
                <button class="btn btn__green btn__hd">Записаться</button>
                <button class="btn btn__tr btn__green-tr btn__hd" >Узнать больше о программе</button>
            </div>
        </div>
    </div>
</div>