<div class="container">
    <div class="infographic_header">
        <h2 class="section-title section-title__lighten">Почему сидеть вредно?</h2>
        <p class="infographic_description">Около 15% людей в мире ведут малоподвижный образ жизни</p>
        <span>Эта проблема является ключевой причиной проблем опорно-двигательного аппарата</span>
    </div>
    <div class="infographic_content">
        <div class="infographic_item" data-time="7,5" data-hours="часов">
            <img class="infographic_icon" src="img/icon-work.png" alt="work" width="155" height="162" data-time="7,5" data-hours="часов">
            <p class="infographic_text">Сидит на работе</p>
        </div>
        <div class="infographic_item"  data-time="1,5" data-hours="часа">
            <img class="infographic_icon" src="img/icon-tv.png" alt="tv" width="155" height="162">
            <p class="infographic_text">Смотрит телевизор</p>
        </div>
        <div class="infographic_item" data-time="1,5" data-hours="часа">
            <img class="infographic_icon" src="img/icon-comp.png" alt="comp" width="155" height="162">
            <p class="infographic_text">Сидит за компьютером</p>
        </div>
        <div class="infographic_item" data-time="3" data-hours="часа">
            <img class="infographic_icon" src="img/icon-food.png" alt="food" width="155" height="162">
            <p class="infographic_text">Сидит, принимая пищу</p>
        </div>
        <div class="infographic_item" data-time="1,5" data-hours="часа">
            <img class="infographic_icon" src="img/icon-car.png" alt="car" width="155" height="162">
            <p class="infographic_text">Сидит в транспорте</p>
        </div>
    </div>
    <p class="infographic_subtitle">Сидя, современный человек проводит в среднем <span class="infographic_b">15 часов</span> в день!</p>
    <p class="infographic_description">При сидении нагрузка на позвоночник возрастает в 11 раз</p>
    <p>Когда человек садится, вся тяжесть тела ложится на позвоночник, провоцируя нарушение тонуса мышц и застой в тканях межпозвоночных дисков. Как результат – дискомфорт и болевые ощущения вдоль всего позвоночника.</p>
</div>
