<div class="container container__b list_container">
    <div class="col-b">
        <h3 class="list_title">Программа специально разработана для тех, кто:</h3>
    </div>
    <div class="col-b">
        <ul class="list_items">
            <li class="list_item">Ведет малоподвижный образ жизни</li>
            <li class="list_item">Чувствует дискомфорт в спине</li>
            <li class="list_item">Проводит основную часть дня за компьютером или за рулем</li>
            <li class="list_item">Часто носит неудобную обувь</li>
            <li class="list_item">Страдает бессонниицами, головными болями</li>
            <li class="list_item">Чувствует повышенную утоляемость и нервозность</li>
        </ul>
    </div>
</div>