<div class="container container__b">
    <h2 class="section-title">Как все происходит?</h2>
    <div class="stages_content">
        <div class="stages_item">Консультация врача и тестирование мышечного корсета</div>
        <div class="stages_item">Для снятия острых состояний – лечебный курс (при необходимости) <span>в случае обострения хронических заболеваний и сильных болей в спине, для снятия острого состояния перед физическими нагрузками.</span></div>
        <div class="stages_item">Курс восстановления по методике David<span>Занятия на компьютеризированных медицинских тренажерах под наблюдением реаблиитолога.</span></div>
    </div>
    <div class="stages_divider">
        <span class="stages_count">1</span>
        <span class="stages_count">2</span>
        <span class="stages_count">3</span>
    </div>
</div>