<!DOCTYPE html>
<html>
    <head>
        <title>David Landing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">    
    </head>

    <body>
        <div class="wrapper">
        <header class="header">
        {% include "_header.html" %}
        </header>
        <section class="list">
        {% include "_list.html" %}
        </section>
        <section class="about">
        {% include "_about.html" %}
        </section>
        <section class="contacts">
        {% include "_contacts.html" %}
        </section>
        <section class="infographic">
        {% include "_infographic.html" %}
        </section>
        <section class="content-list">
        {% include "_content-list.html" %}
        </section>
        <section class="stages">
        {% include "_stages.html" %}
        </section>
        <section class="about-method">
        {% include "_about-method.html" %}
        </section>
        <section class="footer-contacts">
        {% include "_footer-contacts.html" %}
        </section>
        <footer class="footer">
        {% include "_footer.html" %}
        </footer>    
        <script src="libs/jquery-3.3.1.min.js"></script> 
        <script src="libs/slick.js"></script>
    </div>
    </body>
</html>
